# Predicting Student Performance

In this project, i will evaluate the performance and predictive power of a model that has been tarined and tested on data collected from student performance in secondary education of two Portuguese schools. A model trained on this data that is seen as a good fit could then be used to make certain predictions about a home's monetary value.

The Dataset for this project is originates from <a href="https://archive.ics.uci.edu/ml/datasets/Student+Performance">UCI Machine Learnign Repository</a>. The student performance data was collected in 2008 and each of the 395 entries represent aggregated data about 33 features.

## Import library and read the data

I will start reading the data, and selecting some features from 33 features that necessary for apply to the model.

In [1]:
# Import necessary library
import pandas as pd
import numpy as np
import sklearn
from sklearn import linear_model
from sklearn.utils import shuffle

In [2]:
#Load the data
data = pd.read_csv("student-mat.csv", sep=";")
data

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

## Select features

since 33 features is to much features, i choose the 6 features that i think it is the most important features for the data.
the features are:


* G1 - first period grade (numeric: from 0 to 20)
* G2 - second period grade (numeric: from 0 to 20)
* G3 - final grade (numeric: from 0 to 20, output target)
* Studytime - weekly study time (numeric: 1 - <2 hours, 2 - 2 to 5 hours, 3 - 5 to 10 hours, or 4 - >10 hours)
* Failures - failures - number of past class failures (numeric: n if 1<=n<3, else 4)
* absences - number of school absences (numeric: from 0 to 93)

In [3]:
#Features selection for the model
data = data[["G1","G2","G3","studytime","failures","absences"]]
data

     G1  G2  G3  studytime  failures  absences
0     5   6   6          2         0         6
1     5   5   6          2         0         4
2     7   8  10          2         3        10
3    15  14  15          3         0         2
4     6  10  10          2         0         4
..   ..  ..  ..        ...       ...       ...
390   9   9   9          2         2        11
391  14  16  16          1         0         3
392  10   8   7          1         3         3
393  11  12  10          1         0         0
394   8   9   9          1         0         5

[395 rows x 6 columns]

## Determine inputs (y) and Output (X)

The method that i will use in this model is Linear Regression. In statistics, linear regression is a linear approach to modeling the relationship between dependent variable and one or more explanatory variables  independent variables. Independent variable means the output and the dependent variable is the input.

the equation looks like this:
<img src="https://i2.wp.com/contentsimplicity.com/wp-content/uploads/2019/05/18d7e-1eieyrsqib85cpa32zapqwq.png?w=1080&ssl=1" width=300>

The "G3" features is the final grades of the student. Which mean that grade is the fatures that use to measure the performances of the student. So, i will use G3 as the dependet variable (y) and the rest of the features as Independent variable (X).

In [4]:
predict = "G3"
X = np.array(data.drop([predict],1))
y = np.array(data[predict])

before makes the computer train a model. first we should split the data into train data and test data. The purpose is the train data is data for computer to finding the pattern between the train input and train output. Then apply it to the test data and makes prediction with the input test. Then we will compare the predistion with the test output and assest its accuracy.

# Split data into train and test

In [5]:
#split the data into train and test. The proportion is 90% for train and 10% for test
x_train, x_test, y_train,y_test = sklearn.model_selection.train_test_split(X, y, test_size = 0.1)

## Train the model

In [6]:
linear = linear_model.LinearRegression()

In [7]:
# train the model with with train data 
linear.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

the linear regression is arround 0.87 or 87%. Which means it is a good number for a prediction

In [8]:
# finding linear score
linear.score(x_test, y_test)

0.8748582083256659

the numbers below are the independent variable score

In [9]:
linear.coef_

array([ 0.15456365,  0.98236359, -0.2015389 , -0.24037257,  0.03309301])

the number below are the constant

In [10]:
linear.intercept_

-1.5305857397120075

## test the model with test inputs

In [11]:
predictions = linear.predict(x_test)
results = pd.DataFrame(data = predictions, columns = ['Prediction Final Score'])
results
#number below are the prediction

    Prediction Final Score
0                11.458127
1                 9.258854
2                 8.698779
3                15.252617
4                14.877304
5                14.858093
6                 4.763257
7                11.778218
8                 9.347231
9                15.605739
10               18.578002
11               10.793286
12                6.372208
13                9.567981
14                3.385957
15                6.617003
16                4.037908
17                8.937938
18               -0.761184
19               18.221899
20                4.570377
21                9.567981
22               13.983318
23               16.323358
24               -1.006282
25                8.949726
26                9.377343
27                8.497240
28               10.208038
29                5.077736
30               12.644852
31               12.912577
32                8.181960
33               12.139672
34                4.338726
35               10.128056
36                3.883345
37                5.870263
38                5.754121
39               15.602758

We will compare between the prediction and the actual final grades of each student

In [12]:
results['Actual Score'] = y_test
results

    Prediction Final Score  Actual Score
0                11.458127            11
1                 9.258854            10
2                 8.698779            10
3                15.252617            15
4                14.877304            16
5                14.858093            15
6                 4.763257             0
7                11.778218            12
8                 9.347231            10
9                15.605739            15
10               18.578002            18
11               10.793286            12
12                6.372208             8
13                9.567981            10
14                3.385957             0
15                6.617003            10
16                4.037908             6
17                8.937938             9
18               -0.761184             0
19               18.221899            18
20                4.570377             5
21                9.567981            11
22               13.983318            14
23               16.323358            17
24               -1.006282             0
25                8.949726            10
26                9.377343             9
27                8.497240            10
28               10.208038            11
29                5.077736             8
30               12.644852            14
31               12.912577            13
32                8.181960             9
33               12.139672            13
34                4.338726             6
35               10.128056            11
36                3.883345             6
37                5.870263             0
38                5.754121             6
39               15.602758            15

## calculating the difference

In [13]:
results["Residual"] = results["Prediction Final Score"] - results["Actual Score"]
results

    Prediction Final Score  Actual Score  Residual
0                11.458127            11  0.458127
1                 9.258854            10 -0.741146
2                 8.698779            10 -1.301221
3                15.252617            15  0.252617
4                14.877304            16 -1.122696
5                14.858093            15 -0.141907
6                 4.763257             0  4.763257
7                11.778218            12 -0.221782
8                 9.347231            10 -0.652769
9                15.605739            15  0.605739
10               18.578002            18  0.578002
11               10.793286            12 -1.206714
12                6.372208             8 -1.627792
13                9.567981            10 -0.432019
14                3.385957             0  3.385957
15                6.617003            10 -3.382997
16                4.037908             6 -1.962092
17                8.937938             9 -0.062062
18               -0.761184             0 -0.761184
19               18.221899            18  0.221899
20                4.570377             5 -0.429623
21                9.567981            11 -1.432019
22               13.983318            14 -0.016682
23               16.323358            17 -0.676642
24               -1.006282             0 -1.006282
25                8.949726            10 -1.050274
26                9.377343             9  0.377343
27                8.497240            10 -1.502760
28               10.208038            11 -0.791962
29                5.077736             8 -2.922264
30               12.644852            14 -1.355148
31               12.912577            13 -0.087423
32                8.181960             9 -0.818040
33               12.139672            13 -0.860328
34                4.338726             6 -1.661274
35               10.128056            11 -0.871944
36                3.883345             6 -2.116655
37                5.870263             0  5.870263
38                5.754121             6 -0.245879
39               15.602758            15  0.602758

In [14]:
results['Difference%'] = np.absolute(results['Residual']/results['Actual Score']*100)
results

    Prediction Final Score  Actual Score  Residual  Difference%
0                11.458127            11  0.458127     4.164789
1                 9.258854            10 -0.741146     7.411464
2                 8.698779            10 -1.301221    13.012214
3                15.252617            15  0.252617     1.684114
4                14.877304            16 -1.122696     7.016852
5                14.858093            15 -0.141907     0.946047
6                 4.763257             0  4.763257          inf
7                11.778218            12 -0.221782     1.848183
8                 9.347231            10 -0.652769     6.527688
9                15.605739            15  0.605739     4.038258
10               18.578002            18  0.578002     3.211122
11               10.793286            12 -1.206714    10.055952
12                6.372208             8 -1.627792    20.347398
13                9.567981            10 -0.432019     4.320191
14                3.385957             0  3.385957          inf
15                6.617003            10 -3.382997    33.829969
16                4.037908             6 -1.962092    32.701528
17                8.937938             9 -0.062062     0.689576
18               -0.761184             0 -0.761184          inf
19               18.221899            18  0.221899     1.232774
20                4.570377             5 -0.429623     8.592453
21                9.567981            11 -1.432019    13.018356
22               13.983318            14 -0.016682     0.119159
23               16.323358            17 -0.676642     3.980246
24               -1.006282             0 -1.006282          inf
25                8.949726            10 -1.050274    10.502737
26                9.377343             9  0.377343     4.192704
27                8.497240            10 -1.502760    15.027603
28               10.208038            11 -0.791962     7.199652
29                5.077736             8 -2.922264    36.528294
30               12.644852            14 -1.355148     9.679631
31               12.912577            13 -0.087423     0.672488
32                8.181960             9 -0.818040     9.089338
33               12.139672            13 -0.860328     6.617904
34                4.338726             6 -1.661274    27.687895
35               10.128056            11 -0.871944     7.926765
36                3.883345             6 -2.116655    35.277589
37                5.870263             0  5.870263          inf
38                5.754121             6 -0.245879     4.097977
39               15.602758            15  0.602758     4.018386

In [15]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [16]:
results.sort_values(by=['Difference%'])

    Prediction Final Score  Actual Score  Residual  Difference%
22                   13.98            14     -0.02         0.12
31                   12.91            13     -0.09         0.67
17                    8.94             9     -0.06         0.69
5                    14.86            15     -0.14         0.95
19                   18.22            18      0.22         1.23
3                    15.25            15      0.25         1.68
7                    11.78            12     -0.22         1.85
10                   18.58            18      0.58         3.21
23                   16.32            17     -0.68         3.98
39                   15.60            15      0.60         4.02
9                    15.61            15      0.61         4.04
38                    5.75             6     -0.25         4.10
0                    11.46            11      0.46         4.16
26                    9.38             9      0.38         4.19
13                    9.57            10     -0.43         4.32
8                     9.35            10     -0.65         6.53
33                   12.14            13     -0.86         6.62
4                    14.88            16     -1.12         7.02
28                   10.21            11     -0.79         7.20
1                     9.26            10     -0.74         7.41
35                   10.13            11     -0.87         7.93
20                    4.57             5     -0.43         8.59
32                    8.18             9     -0.82         9.09
30                   12.64            14     -1.36         9.68
11                   10.79            12     -1.21        10.06
25                    8.95            10     -1.05        10.50
2                     8.70            10     -1.30        13.01
21                    9.57            11     -1.43        13.02
27                    8.50            10     -1.50        15.03
12                    6.37             8     -1.63        20.35
34                    4.34             6     -1.66        27.69
16                    4.04             6     -1.96        32.70
15                    6.62            10     -3.38        33.83
36                    3.88             6     -2.12        35.28
29                    5.08             8     -2.92        36.53
14                    3.39             0      3.39          inf
18                   -0.76             0     -0.76          inf
6                     4.76             0      4.76          inf
37                    5.87             0      5.87          inf
24                   -1.01             0     -1.01          inf

Let's see what score our model will predict these students performance

In [17]:
student_data = [[15,19,4,0,3], #Student 1 G1:10, G2:5, Study time:4, Failure:0, Absence:5 
                [18,10,3,1,3], #Student 2 G1:8, G2:7, Study time:4, Failure:0, Absence:5
                [5,5,1,2,2] #Student 1 G1:10, G2:5, Study time:4, Failure:0, Absence:5
               ]

In [18]:
student_data_result = pd.DataFrame(data = linear.predict(student_data), columns = ['Predicted Score'])
student_data_result

   Predicted Score
0            18.75
1            10.33
2             3.54

# Cites

P. Cortez and A. Silva. Using Data Mining to Predict Secondary School Student Performance. In A. Brito and J. Teixeira Eds., Proceedings of 5th FUture BUsiness TEChnology Conference (FUBUTEC 2008) pp. 5-12, Porto, Portugal, April, 2008, EUROSIS, ISBN 978-9077381-39-7.
<a href="http://www3.dsi.uminho.pt/pcortez/student.pdf">Web Link</a>